/* path: src/app/component/navbar/navbar.component.scss */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 1rem; /* Utiliser des rem pour un espacement horizontal */
  box-sizing: border-box; /* Inclure le padding dans la largeur totale */
}

.navbar-title {
  cursor: pointer;
  margin-right: auto;
}

.navbar-logo {
  max-height: 40px; /* Ajustez la taille de l'image selon vos besoins */
  width: auto;
  object-fit: contain; /* Garder le ratio */
}

.spacer {
  flex: 1;
}

button[mat-button] {
  min-width: auto;
}
